.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem 4rem;
}

.main {
  position: relative;
  margin-left: 300px;
  margin-top: 8rem;
}

.toc {
  width: 280px;
  position: fixed;
  left: 50%;
  top: 8rem;
  height: calc(100vh - 72px);
  margin-left: calc(-77rem / 2);
}

.headline {
  font-weight: 600;
  font-size: 1.125rem;
  color: #111827;
  margin: 0;
  padding: 0.5rem 1.5rem 0.5rem 0;
}

.links {
  list-style: none;
  margin: 0.35rem 0;
  padding: 0;
  line-height: 2rem;
  font-size: 0.9rem;

  .links {
    padding: 0 0 0 1rem;
  }

  li {
    margin: 0.35rem 0;
  }
  li li {
    margin: -0.2rem 0;
  }
  li li[data-active] a {
    color: #646cff;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: #111827;
    padding: 0.1rem 1.5rem 0.1rem 0.75rem;
    border-left: 5px solid #fff;
    &:hover,
    &[data-active] {
      color: #646cff;
    }

    &[data-active] {
      border-left: 5px solid #646cff;
      font-weight: 600;
    }
  }
}

.toplevel {
  font-size: 1rem;
  margin-left: 0 0 0 -1rem;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #111827;
    scroll-margin-top: calc(var(--header-height) + 1rem);
  }

  h2 {
    border-bottom: 1px solid #e8e8e9;
  }

  a {
    color: #646cff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
