.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem 4rem;
}

.main {
  position: relative;
  margin-left: 300px;
  margin-top: 8rem;
}

/**
 * Use nested tag selectors to style HTML tags created from Markdown.
 */
.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #111827;
  }

  a {
    color: #646cff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
