.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  img {
    height: 4rem;
    margin-right: 1rem;
  }
  span {
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.claim {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
  margin: 4.5rem 0 2.5rem 0;
  color: #5c74ae;
}

.description {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0 0 2.75rem 0;
  max-width: 64rem;
  color: #111827;

  a {
    font-weight: 700;
    color: #111827;
    text-decoration: none;
    &:hover {
      color: #646cff;
    }
  }
}

.ctaWrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.cta {
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  border: 1px solid;
  font-weight: 600;
  text-decoration: none;
  background: #3c589b;
  border-color: #3c589b;
  color: #f9fafb;
  &:hover {
    background: #26407e;
    border-color: #26407e;
  }
}

.features {
  margin-top: 10rem;
}
