.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  img {
    height: 5rem;
    margin-right: 1rem;
  }
  span {
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.claim {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
  margin: 3.5rem 0 2.5rem 0;
  color: #111827;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 2.75rem;
  max-width: 64rem;
  color: #7b7280;

  a {
    font-weight: 700;
    color: #111827;
    text-decoration: none;
    &:hover {
      color: #646cff;
    }
  }
}

.ctaWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cta {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  border: 1px solid;
  font-weight: 600;
  text-decoration: none;
  background: #7073ae;
  border-color: #7073ae;
  color: #f9fafb;
  &:hover {
    background: #50549b;
    border-color: #50549b;
  }
}
