.header {
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 5rem;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  max-width: 80rem;
  background: #fff;
  z-index: 1;
}

.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  color: #111827;
  height: 5rem;
}

.headerLink {
  text-decoration: none;
  color: inherit;
  font-weight: 4400;
  margin-left: 2.5rem;
  padding: 0.35rem;
  display: flex;
  align-items: center;

  &:hover {
    color: #646cff;
  }
  &[data-active] {
    color: #000;
    font-weight: 600;
  }

  span + svg {
    margin-left: 0.5rem;
  }
}

.grow {
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
  text-decoration: none;

  img {
    height: 2.4rem;
    margin-right: 0.6rem;
  }

  span {
    font-size: 1.8rem;
    font-weight: 300;
    color: #111827;
  }
}
