.header {
  margin: 0 auto;
  padding: 0 1.5rem;
  height: var(--header-height);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  max-width: 80rem;
  background: #fff;
  z-index: 1;
}

.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  color: #111827;
  height: var(--header-height);
}

.headerLink {
  text-decoration: none;
  color: inherit;
  font-weight: 4400;
  margin-left: 2.5rem;
  padding: 0.35rem;
  display: flex;
  align-items: center;

  &:hover {
    color: #3740ff;
    text-decoration: underline;
  }
  &[data-active] {
    color: #000;
  }

  span + svg {
    margin-left: 0.5rem;
  }
}

.grow {
  flex-grow: 1;
}

.logoLink {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
  text-decoration: none;
}

.logo {
  height: 2.6rem;
  color: #111827;
}
