name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'packages/wilson/**'
      - 'netlify.toml'
      - 'yarn.lock'
  workflow_dispatch:

jobs:
  # If, for whatever reason, the userland netlify deploy action doesn't
  # work anymore, this can be switched to build & deploy on netlify via
  # netlify.toml and waiting for netlify deployment with
  # https://github.com/marketplace/actions/wait-for-netlify-deployment
  # Netlify will
  #   - deploy a preview every time there is a PR to the main branch
  #     opened, synchronized or reopened
  #   - comment on that PR with the preview deploy URL
  deployPreview:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.ref != 'refs/heads/main'

    steps:
      - name: Wait for Netlify Deploy
        uses: probablyup/wait-for-netlify-action@3.2.0
        id: deploy
        with:
          site_id: ${{ secrets.NETLIFY_SITE_ID }}
        env:
          NETLIFY_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      - run: mkdir /tmp/artifacts

      - name: Run Lighthouse
        uses: foo-software/lighthouse-check-action@master
        with:
          accessToken: ${{ secrets.RELEASE_TOKEN }}
          author: ${{ github.actor }}
          branch: ${{ github.ref }}
          outputDirectory: /tmp/artifacts
          urls: '${{ steps.deploy.outputs.url }}'
          sha: ${{ github.sha }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Lighthouse reports
          path: /tmp/artifacts