name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'packages/wilson/**'
      - 'netlify.toml'
      - 'yarn.lock'
  workflow_dispatch:

jobs:
  # If, for whatever reason, the userland netlify deploy action doesn't
  # work anymore, this can be switched to build & deploy on netlify via
  # netlify.toml and waiting for netlify deployment with
  # https://github.com/marketplace/actions/wait-for-netlify-deployment
  # Netlify will
  #   - deploy a preview every time there is a PR to the main branch
  #     opened, synchronized or reopened
  #   - comment on that PR with the preview deploy URL
  deployPreview:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.ref != 'refs/heads/main'

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Wait for Netlify Deploy
        uses: probablyup/wait-for-netlify-action@3.2.0
        id: waitForDeployment
        with:
          site_id: ${{ secrets.NETLIFY_SITE_ID }}
        env:
          NETLIFY_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      - name: Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.3.x
          lhci autorun --upload.target=temporary-public-storage --collect.url=${{ steps.waitForNetlifyDeploy.outputs.url }} || echo "LHCI failed!"
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
