name: Lighthouse

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'packages/wilson/**'
      - 'netlify.toml'
      - 'yarn.lock'
  workflow_dispatch:

jobs:
  # Netlify will deploy a preview every time there is a PR to the main branch
  # opened, synchronized or reopened.
  # 
  # The audit job will wait for the netlify deployment, run a lighthouse check
  # against the preview deployment URL and update the PR with the result.
  audit:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.ref != 'refs/heads/main'

    steps:
      - uses: actions/checkout@v2

      - name: Wait for Netlify
        uses: probablyup/wait-for-netlify-action@3.2.0
        id: netlify
        with:
          site_id: ${{ secrets.NETLIFY_SITE_ID }}
        env:
          NETLIFY_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      - run: mkdir /tmp/artifacts

      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v7
        id: lighthouse
        with:
          urls: |
            ${{ steps.netlify.outputs.url }}
          runs: 3
          uploadArtifacts: true
          temporaryPublicStorage: true

      - name: Comment on PR
        uses: actions/github-script@v4
        if: github.event_name == 'pull_request'
        with:
          github-token: ${{ secrets.RELEASE_TOKEN }}
          script: |
            const { issue: { number: issue_number, owner, repo }  } = context;
            const links = Object.entries(JSON.parse('${{ steps.lighthouse.outputs.links }}'));
            const [netlifyUrl, lighthouseUrl] = links[0];
            const summary = JSON.parse('${{ steps.lighthouse.outputs.manifest }}')[0].summary;
            github.issues.createComment({
              issue_number,
              owner,
              repo, 
              body: `### Links\n- [Preview Deployment](${netlifyUrl})\n- [Lighthouse Report](${lighthouseUrl})\n\n${JSON.stringify(summary)}\n![](https://img.shields.io/badge/Accessibility-${~~(summary.accessibility * 100)}-green?style=flat-square)\n\nnumber of links ${links.length}`
            });